version: 2.1

commands:
  ping-url:
    description: "Ping a URL"
    parameters:
      url:
        type: string
        default: "https://www.circleci.com"
    steps:
      - run: apt-get update && apt-get install iputils-ping
      - run: ping << parameters.url >>
      
jobs:
  test1:
    docker:
      - image: "cimg/base:stable"
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
    steps:
      - ping-url:
          url: "https://www.google.com"
    
  test2:
    docker:
      - image: "cimg/base:stable"
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
    steps:
      - ping-url

workflows:
  testing:
    jobs:
      - test1
      - test2